body {
    background: darkgrey;
}

.box {
background: aqua;
width: 200px;
height: 200px;
position: relative;
animation-name: myanimation;
animation-duration: 4s;
animation-iteration-count: 1;
animation-delay: 1s;
animation-direction:alternate; */
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

@keyframes myanimation {
    0% {background-color:aqua; border-radius: 0 0 0 0; }
    25% {background-color:yellowgreen; border-radius: 50% 0 0 0; }
    50% {background-color:peru; border-radius: 50% 50% 0 0; }
    75% {background-color:wheat; border-radius: 50% 50% 50% 0; }
    100% {background-color:whitesmoke; border-radius: 50% 50% 50% 50%; }
}

/* .box:hover {
    transform: rotateZ(360deg);
} */
/*  */